### Scraping from Trading Economics
Result: daily global gasoline price

In [1]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

## Request the URL
url = "https://tradingeconomics.com/commodities"
res = urllib.request.urlopen(url)

## Read the data into from the url as a string
html = res.read()

## parse with BeautifulSoup
bs = BeautifulSoup(html, "html.parser")

tables = bs.find_all('table')
## Choose the first table
table = tables[0]

rows = table.find_all("tr")

column_names = []
header_cells = rows[0].find_all("th")

for cell in header_cells:
    header = cell.text
    header = header.strip()
    header = header.replace("\n", " ")
    column_names.append(header)

data = []
for row in rows[1:]:
    cells = row.find_all("td")

    ## create an empty tuple
    dt = ()
    for cell in cells:
        dp = cell.text

        dp = dp.strip()
        dp = dp.replace("\n", " ")

        ## add to tuple
        dt = dt + (dp,)
    data.append(dt)
## Import the data into a dataframe
df = pd.DataFrame(data, columns = column_names)
df

,Energy,Price,Day,%,Weekly,Monthly,YoY,Date
0,Crude Oil USD/Bbl \r ...,102.910,0.370,-0.36%,-1.28%,-11.13%,73.45%,Apr/05
1,Brent USD/Bbl \r ...,107.19,0.34,-0.32%,-0.48%,-9.83%,70.85%,Apr/05
2,Natural gas USD/MMBtu \r ...,6.1140,0.4020,7.04%,14.71%,26.51%,148.94%,Apr/05
3,Gasoline USD/Gal \r ...,3.1664,0.0317,-0.99%,-0.32%,-10.26%,61.03%,Apr/05
4,Heating Oil USD/Gal \r ...,3.4632,0.0829,-2.34%,2.18%,-6.60%,93.03%,Apr/05
5,Coal USD/T \r ...,264.00,5.25,2.03%,1.15%,-37.54%,173.58%,Apr/04
6,Ethanol USD/Gal \r ...,2.3700,0.0050,-0.21%,-4.44%,-6.88%,24.08%,Apr/04
7,Naphtha USD/T \r ...,931.29,22.80,2.51%,-6.64%,-15.56%,72.00%,Apr/04
8,Propane USD/Gal \r ...,1.36,0.01,-0.81%,-5.27%,-14.95%,41.90%,Apr/04
9,Uranium USD/Lbs \r ...,59.7000,1.1000,1.88%,0.84%,15.92%,91.65%,Apr/04
10,Methanol CNY \r ...,2884.00,27.00,-0.93%,-5.19%,-0.65%,21.74%,Apr/01
11,TTF Gas EUR \r ...,106.95,2.57,-2.35%,-1.32%,-52.93%,440.67%,Apr/05
12,UK Gas GBp \r ...,236.0000,8.0600,-3.30%,-10.41%,-56.26%,381.93%,Apr/05

In [2]:
## Check the data types
df.dtypes

Energy     object
Price      object
Day        object
%          object
Weekly     object
Monthly    object
YoY        object
Date       object
dtype: object

In [3]:
df['Price'] = df['Price'].str.replace(',', '.')
df['Price'] = df['Price'].astype(np.float64)
df['Price'].mean()

362.1933538461538

In [4]:
df

,Energy,Price,Day,%,Weekly,Monthly,YoY,Date
0,Crude Oil USD/Bbl \r ...,102.9100,0.370,-0.36%,-1.28%,-11.13%,73.45%,Apr/05
1,Brent USD/Bbl \r ...,107.1900,0.34,-0.32%,-0.48%,-9.83%,70.85%,Apr/05
2,Natural gas USD/MMBtu \r ...,6.1140,0.4020,7.04%,14.71%,26.51%,148.94%,Apr/05
3,Gasoline USD/Gal \r ...,3.1664,0.0317,-0.99%,-0.32%,-10.26%,61.03%,Apr/05
4,Heating Oil USD/Gal \r ...,3.4632,0.0829,-2.34%,2.18%,-6.60%,93.03%,Apr/05
5,Coal USD/T \r ...,264.0000,5.25,2.03%,1.15%,-37.54%,173.58%,Apr/04
6,Ethanol USD/Gal \r ...,2.3700,0.0050,-0.21%,-4.44%,-6.88%,24.08%,Apr/04
7,Naphtha USD/T \r ...,931.2900,22.80,2.51%,-6.64%,-15.56%,72.00%,Apr/04
8,Propane USD/Gal \r ...,1.3600,0.01,-0.81%,-5.27%,-14.95%,41.90%,Apr/04
9,Uranium USD/Lbs \r ...,59.7000,1.1000,1.88%,0.84%,15.92%,91.65%,Apr/04
10,Methanol CNY \r ...,2884.0000,27.00,-0.93%,-5.19%,-0.65%,21.74%,Apr/01
11,TTF Gas EUR \r ...,106.9500,2.57,-2.35%,-1.32%,-52.93%,440.67%,Apr/05
12,UK Gas GBp \r ...,236.0000,8.0600,-3.30%,-10.41%,-56.26%,381.93%,Apr/05

In [5]:
df.to_csv("price_Apr_05.csv")